<p>stocklist works!</p>
<table datatable id="medicinetable" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th> name</th>
        <th>quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of elements">      
        <td>{{list.id}}</td>
            <td>{{list.name}}</td>
            <td>{{list.quantity}}</td>
            <td><button routerLink='../editstock/{{list.id}}' class="btn btn-primary mb-2">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary mb-2"(click)="delete(list.id)" >delete</button></td>
          </tr>      
    </tbody>
</table>