.box{
    border: 1px;
    width: 50%;
    height: 100%;
    border: 1px solid rgba(115, 167, 216, 0.96);
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
    margin-left: 300px;
    margin-right: 300px;
    background-color:aliceblue;
}
.format{
    margin-top: 100px;
}
