<form class="format" [formGroup]="Billing" (ngSubmit)="onSubmit()">
  <div>
    <div class="form-row">
      <div class="form-group col-sm-4">
        <label for="medicinename">MedicineName</label>
        <select id="text" class="form-control" id="name" placeholder="medicinename" (change)="changedata($event)">
          <option disabled selected>select</option>
          <option [value]='item.quantity && item.unitPrice' *ngFor="let item of list">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label>Quantity</label>
        <input type="number" value="{{datavalue}}" class="form-control" id="quantity" placeholder="quantity">
      </div>
      <div class="form-group col-sm-4">
        <label>UnitPrice</label>
        <input type="number" value="{{datavalue}}" class="form-control" id="unitPrice" placeholder="unitPrice">
      </div>
      <button type="submit " class="btn btn-primary mb-2" style="margin-left: 13px;" >Add Medicine</button>
      <!-- <button>Add</button> -->
    </div>
  </div>
</form><br><br>
<table class="table" border="1px">
  <thead>
    <tr>
      <th style="width: 20px;">MedicineName</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>TotalBill</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let list of elements">      
      
          <td>{{list.name}}</td>
          <td>{{list.quantity}}</td>
          <td>{{list.unitPrice}}</td></tr> -->
  </tbody>
</table>