<div class="h1">
<h2 align="center">Medical Store Management System</h2></div>
<div class="navbar">
    <a  routerLink='./home'>Home</a>
    <div class="subnav">
      <button class="subnavbtn" routerLink='./stock'>Medicine <i class="fa fa-caret-down"></i></button>
     
    </div> 
    <div class="subnav">
      <button class="subnavbtn" routerLink='./customer'>Customer <i class="fa fa-caret-down"></i></button>
   
    </div> 
    <div class="subnav">
      <button class="subnavbtn" routerLink='./billing'>Billing <i class="fa fa-caret-down"></i></button>
      
    </div>
    <div class="subnav">
      <button class="subnavbtn" routerLink='./login'>Logout <i class="fa fa-caret-down"></i></button>
      
    </div>
    <a href="#contact"></a>
  </div>
  <router-outlet></router-outlet>
  <!-- <div class="bgimg">

    <img src="assets/medicine.jpg" height="450px" width="1240px" alt="">
    
    </div> -->
  
  
  